package view 

import "github.com/t0uh33d/code_scout/view/static"

templ Login() {
    @BaseLayout("Login") {
        <div class="min-h-screen flex justify-center items-center">
            <div class="w-full max-w-[440px] flex flex-col items-center">
                <img src={ static.LOGIN_HEADER_IMAGE } class="h-auto w-[330px] mb-6" alt="Login Header"/>
                <div class="border border-eerie-black rounded-2xl p-10 w-full">
                <p class="text-sm font-medium mb-[6px]"> { static.USERNAME } </p>
                </div>
            </div>
        </div>
    }
}